<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox15
        link(rel="stylesheet", href="/css/styles.css")
    body
        .top
        .middle
            .middle__col1
                .middle__col1__sec1
                .middle__col1__sec2
            .middle__col2
                .middle__col2__box1
                .middle__col2__box2
        .under