.top {
    width: 100%;
    height: 60px;

    background-color:#ffcccc;
}
.middle {
    width: 100%;
    height: 510px;

    display: flex;
    flex-direction: row;
}

.middle .middle__col1 {
    width: 50%;
    height: 510px;

    display: flex;
    flex-direction: column;
}

.middle .middle__col1 .middle__col1__sec1 {
    width: 100%;
    height: 260px;

    background-color:#32ff7e;
}

.middle .middle__col1 .middle__col1__sec2 {
    width: 100%;
    height: 260px;

    background-color:#fffa65;
}

.middle .middle__col2 {
    width: 50%;
    height: 510px;

    display: flex;
    flex-direction: column;
}

.middle .middle__col2 .middle__col2__box1 {
    width: 100%;
    height: 260px;

    background-color:#7efff5;
}
.middle .middle__col2 .middle__col2__box2 {
    width: 100%;
    height: 260px;

    background-color:#cd84f1;
}

.under {
    width: 100%;
    height: 60px;

    background-color: #9AECDB;
}